body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    background-color: #fff;

    margin: 1em;
    padding: .5em 2em 1em 2em;
    
    border: 2px solid #4c566a;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc;
}

section h2 {
    margin-bottom: 0em;
}

footer {
    background-color: #3b4252;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Punto 1 - Header*/
header {
    background-color: #4c566a;  
    padding: .25em 0em;

}

header h1{
    color: #fff;
    font-size: 2em;
    text-align: center;
}

/* Punto 2 */
p.props {
    text-decoration: underline;
    text-transform: capitalize;
}

blockquote {
    margin: .50em;
    padding: 1em;
    border-left: 4px solid #4c566a;

    background-color: #e3e3e3;

    color:#444444;
    font-style: italic;
}

/* Punto 3 - Cajas */

.caja-1 {
    border: 2px solid #4c566a;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc;

    margin: 1em;
    padding: .25em 1em;
}

.caja-2 {

    background-color: #accbfa;

    border: 3px solid #4c566a;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc;

    margin: 1em;
    padding: .25em 1em;
}


/* Punto 4 - Posiciones */
.rel-box {
    position: relative;
    background-color: #accbfa;

    border-radius: 5px;

    /* Posicionamiento a partir de su posición relativa la página */
    top:1em;

    margin: 0em 1em;
    padding: .25em 1em;

    font-size: .80em;
}

.abs-box {
    position: absolute;
    background-color: #2779f5;

    color: #fff;

    /* Posicionamiento a partir del contenedor padre, al ser este relativo */
    top: 0;
    right: 0;

    padding: .25em 1em;
    
    border-radius: 5px;
}

/* Punto 5 - Responsive */
@media screen and (max-width: 768px) {
    body {
        background-color: #2e3440;
    }
    header h1{
        font-size: 1em;
    }
    
    section {
        box-shadow: none;
    }
    
    
}

/* Punto 6 - Grids */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    gap:1em;

    margin: 0em 1em;
}

.grid-item{
    background-color: #accbfa;
    border-radius: 5px;

    text-align: center;
    font-weight: bold;
}

/* Punto 7 - Animations */
.animacion {
    background-color: #accbfa;
    
    width: 128px;
    height: 128px;

    margin: 1em;
    
    transition: 200ms;
}

.animacion:hover {
    background-color: #2779f5;
}

.mover {
    position: relative;
    background-color: #2779f5;

    width: 128px;
    height: 128px;
    margin: 1em;

    border-radius: 100%;

    animation: 3s dvd-animation 1s infinite;
}

@keyframes dvd-animation {
     0% {left:0px;}
    50% {left: 80%}
   100% {left:0px;}
}
