body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #4c566a;  
    padding: .25em 0em;

}

header h1{
    color: #fff;
    font-size: 2em;
    text-align: center;
}

p.props {
    text-decoration: underline;
    text-transform: capitalize;
}

blockquote {
    margin: .50em;
    padding: 1em;
    border-left: 4px solid #4c566a;

    background-color: #e3e3e3;

    color:#444444;
    font-style: italic;
}

.caja-1 {
    border: 2px solid #4c566a;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;

    margin: 1em;
    padding: .25em .5em;
}

.caja-2 {

    background-color: #fa9cff;

    border: 3px solid #4c566a;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #000;

    margin: 1em;
    padding: .25em .5em;
}